<div>
  {{#ui-form oldValue=model.tag newValue=model.data  validation="save" cancel="cancel" bigIcon='user' smallIcon='edit' header='Tag' description='Editing an existing object'}}
    <div class="field">
      <label id="" class="" for="frmEdit-identity">Name</label>
      <div id="div-frmEdit-identity" class="ui input">
        {{input id="frmEdit-identity" value=model.data.name placeholder="Name"}}
      </div>
    </div>
  {{/ui-form}}
</div>{{outlet}}