<h1 class="ui header">Developers</h1>
{{#link-to "developers.new" class="ui button"}}
  <i class="ui plus icon"></i>
  Add new developer
{{/link-to}}
<table class="ui single line table">
  <thead>
  <tr>
    <th>Identity</th>
  </tr>
  </thead>
  <tbody>
  {{#each model as |developer|}}
    <tr>
      <td>{{developer.identity}}</td>
    </tr>
  {{else}}
    <tr>
      <td>Aucun développeur</td>
    </tr>
  {{/each}}
  </tbody>
</table>
{{outlet}}